#contact {
  background: linear-gradient(90deg, rgb(4, 16, 28, 0.9), rgba(0, 0, 0, 0)),
    url(/assets/images/background-contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;

  & h2 {
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    color: #ffffff;
  }

  & button {
    width: 265px;
    height: 63px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
  }
}

@media (width < 400px) {
  #contact {
    background-size: cover;
    background-position: 95% center;

    & h2 {
      font-size: 24px;
    }

    & button {
      width: 235px;
      height: 55px;
      font-size: 16px;
    }
  }
}
