footer {
  background-color: #02192d;
  padding: 70px 16%;
  display: flex;
  justify-content: space-between;
}

#container-f {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 40px;
}

#golden-logo {
  height: 60px;
  margin-bottom: 20px;
}

.contato {
  display: flex;
  column-gap: 30px;

  & h3 {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
  }
}

nav {
  display: flex;
  column-gap: 80px;
}

.estrutura {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  & h3 {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  & a {
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;

    &:hover {
      color: #f5f5f5;
    }
  }
}

@media (width < 400px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 70px 30px;
  }

  #container-f {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #c1c1c1;
  }

  .contato {
    & img {
      width: 40px;
      height: 40px;
    }

    & h3 {
      font-size: 20px;
    }

    & p {
      font-size: 14px;
    }
  }

  nav {
    display: flex;
    column-gap: 70px;
  }

  .estrutura {
    display: flex;
    row-gap: 35px;

    & h3 {
      font-size: 22px;
    }

    & a {
      font-size: 14px;
    }
  }
}
