@import url(/styles/global.css);
@import url(/styles/utitlity.css);
@import url(/styles/hero-section.css);
@import url(/styles/main.css);
@import url(/styles/header.css);
@import url(/styles/section.css);
@import url(/styles/about.css);
@import url(/styles/result.css);
@import url(/styles/contact.css);
@import url(/styles/footer.css);
