@import url(global.css);
@import url(utitlity.css);
@import url(hero-section.css);
@import url(main.css);
@import url(header.css);
@import url(section.css);
@import url(about.css);
@import url(result.css);
@import url(contact.css);
@import url(footer.css);
