#container {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

h1 {
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

#link-main {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

@media (width < 400px) {
  main {
    background-size: cover;
    background-position: 75% center;
    width: 400px;
  }

  #container {
    padding: 150px 40px;
  }

  h1 {
    font-size: 35px;
  }

  #link-main {
    font-size: 16px;
  }

  #img-logo-main {
    width: 182px;
  }
}
