#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 0;
}

#numbers {
  background-color: #02192d;
  border-radius: 20px;
  width: 80%;
  height: 271.531px;
  display: flex;
  padding: 70px 50px;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
}

.refencias {
  display: flex;
  align-items: center;
  column-gap: 20px;

  & h2 {
    color: #e2bd5f;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.9px;
  }

  & h3 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
  }

  & p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

#section-feedback {
  width: 100%;
  padding: 103px 0 200px 10%;
  background: #f5f5f5;
}

#h2-feedback {
  border-bottom: 1px solid #02192d;
  height: 85px;
  width: 85%;

  & h2 {
    color: #02192d;
    text-align: start;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
}

#container-feedback {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

#button-carrosel {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  width: 85%;
  margin: 150px 0 30px;
  cursor: pointer;
}

.break-line {
  flex-basis: 100%;
  height: 0;
}

.feedback {
  width: 400px;
  height: 270px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

  padding: 20px 20px 20px;

  .message {
    margin-top: 20px;
  }
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 20px;
  column-gap: 10px;
}

@media (width <= 400px) {
  #result {
    padding: 0;
    position: relative;
  }

  #numbers {
    width: 90%;
    height: 85.969px;
    display: flex;
    justify-content: none;
    padding: 25px 3px;
    border-radius: 6px;
    column-gap: 0;

    position: absolute;
    z-index: 2;
    top: -30px;
  }

  .refencias {
    display: flex;
    align-items: center;
    column-gap: 5px;

    & h2 {
      font-size: 27px;
      letter-spacing: -0.285px;
    }

    & h3 {
      font-size: 15px;
    }

    & p {
      font-size: 8px;
    }
  }

  #section-feedback {
    padding: 110px 0 0 20px;
  }

  #h2-feedback {
    width: 90%;
    height: 65px;

    & h2 {
      font-size: 22px;
    }
  }

  .display-none {
    display: none;
  }

  #container-feedback{
    display: flex;
    flex-direction: column-reverse;
  }

  #button-carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }

  .feedback {
    width: 90%;
    height: 222px;
    margin-top: 50px;

    .message {
      margin-top: 5px;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .stars-container {
    & img {
      width: 33.72px;
      height: 33.72px;
    }
  }

  .perfil {
    &img {
      width: 43.52px;
      height: 43.52px;
    }

    & h3 {
      font-size: 12.66px;
      font-weight: 600;
    }

    & p {
      font-size: 9.5px;
      font-weight: 400;
    }
  }
}
