#acting {
  width: 100%;
  padding: 100px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h2-container {
  display: flex;
  padding: 32px 0;
  justify-self: start;
  width: 873px;
  /* margin-right: 20px; */

  & h2 {
    color: #02192d;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    text-align: start;
  }
}

#container-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px 20px;
  padding: 70px 0;
  border-top: 1px solid #797979;
}

.acting-images {
  width: 278px;
  height: 230px;
  border-radius: 11px;
}

.h3-acting {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  margin-top: 15px;
}

.p-acting {
  color: #656565;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}

#btn-acting {
  width: 265px;
  height: 63px;
  border-radius: 10px;
  background: #02192d;
  border: none;
  cursor: pointer;

  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  color: #fff;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (width < 400px) {
  #acting {
    display: flex;
    gap: 11px 14px;
    width: 400px;
    padding: 55px 15px;
  }

  #container-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
  }

  .acting-images {
    width: 160.715px;
    height: 146px;
  }

  #h2-container {
    width: 100%;
    padding: 25px 0;

    & h2 {
      font-size: 24px;
    }
  }

  .h3-acting {
    font-size: 17px;
  }

  .p-acting {
    font-size: 12px;
  }

  #btn-acting {
    width: 235px;
    height: 55px;
    font-size: 16px;
  }
}
